/*Cv js*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
  }

  .cvh1{
    border: solid 1px #fff;
  }

  .logoimg{
    height: 50px ;
    width: 100px;
  }

.trackbuttons{
    border: none;
    padding: 3px 10px;
    margin: 2px 3px;
    border: solid 1px #fff ;
    

}


h3{
  color: #7A52C1;
  text-align: center;
  padding-top:30px ;
  padding-bottom: 30px;
  text-transform: uppercase;
  border: solid 2px #cacfcc;
}